// ===== Scrollbar width ===== //
::-webkit-scrollbar {
    width: 8px;
}
  
// ===== Scrollbar track ===== //
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
// ===== Scrollbar handle ===== //
::-webkit-scrollbar-thumb {
    background: #6747B0;
}
  
// ===== Scrollbar handle on hover ==== //
::-webkit-scrollbar-thumb:hover {
    background: #437FC2;
}


// ===== Download app image swap ===== //
.swap {
    img {
        &:last-child {
            display: none;
        }
    }
    &:hover {
        img {
            &:last-child {
                display: block;
            }
            &:first-child {
                display: none;
            }
        }
    }
}