
.connect {
    background-color: $blue-3;
    @include media("lg") {
        @include padding(100px, 0px, 100px, 0px);
    }    
    @include padding(70px, 0px, 70px, 0px);
    &__headline {
        max-width: 429px;
        @include media("lg") {
            h3 {
                @include font($font-size-2 !important, $font-weight-3 !important, $line-height-7 !important);
                span {
                    letter-spacing: 0.3;
                }                  
            }
        }
        h3 {
            @include font($font-size-3, $font-weight-3, $line-height-5);
            color: $text-white;
            margin-bottom: 30px;
            span {
                letter-spacing: 0.3;
                color: $text-orange;
            }
        }         
    }    
}