
.connect {
    background-color: $blue-3;
    @include padding(100px, 0px, 100px, 0px);
    &__headline {
        max-width: 429px;
        h3 {
            @include font($font-size-2, $font-weight-3, $line-height-7);
            color: $text-white;
            span {
                letter-spacing: 0.3;
                color: $text-orange;
            }
        }
    }    
}