.download {
    position: relative;
    z-index: 20;
    background-color: $blue-3;
    @include media("lg") {
        @include padding(100px, 0px, 100px, 0px);
    }    
    @include padding(80px, 0px, 80px, 0px);
    @include media("md") {
        &__bottom {
            &--left {
                img {
                    @include media("md") {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        z-index: -10;
                    }                
                }
            }
            &--right {
                img {
                    @include media("md") {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: -10;
                    }                
                }
            }        
        }        
    }
    &__headline {
        max-width: 593px;
        @include media("lg") {
            h3 {
                @include font($font-size-2 !important, $font-weight-3 !important, $line-height-7 !important);
                margin-bottom: 55px;
            }            
        }
        h3 {
            @include font($font-size-3, $font-weight-3, $line-height-5);
            color: $text-white;
            margin-bottom: 20px;
        } 
    } 
    &__apps {
        margin-top: 30px;
        img {
            width: 150px;
        }
        @include media("lg") {
            img {
                width: auto;
            }
        }
        &--ios {        
            margin-right: 16px !important;            
            @include media("lg") {
                margin-right: 30px !important;
            }
        }
    } 
}