
.introduction {
    position: relative;
    padding-top: 105px;
    padding-bottom: 105px;
    background-color: $blue-1;
    &::before {
        content: url(~/assets/svg/top-right.svg);
        position: absolute;
        top: 0;
        right: 0;
    }
    &::after {
        content: url(~/assets/svg/bottom-left.svg);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__left {
        max-width: 593px;
    }
    h2 {
        color: $text-orange;
        @include font($font-size-4,$font-weight-1,$line-height-2);
    }
    h1 {
        color: $text-white;
        @include font($font-size-1,$font-weight-4,$line-height-7);
    }
    p {
        color: $text-white;
        @include font($base-font-size,$font-weight-1,$line-height-3);
    }        
}