
.introduction {
    position: relative;
    background-color: $blue-1;
    @include media("lg") {
        @include padding(190px, 0px, 100px, 0px);
    }    
    @include padding(160px, 0px, 70px, 0px);
    &__bottom {
        &--left {
            img {
                position: absolute;
                left: 0;
                bottom: 0;  
                width: 165px;              
            }
        }
    }
    &__top {
        &--right {
            img {
                position: absolute;
                right: 0;
                top: -60px; 
                width: 165px;               
            }
        }
    }    
    @include media ("md") {
        &__bottom {
            &--left {
                img {
                    position: absolute;
                    left: 0;
                    bottom: 0;  
                    width: auto;              
                }
            }
        }
        &__top {
            &--right {
                img {
                    position: absolute;
                    right: 0;
                    top: -60px;     
                    width: auto;           
                }
            }
        }        
    }
    &__left {
        &--apps {
            img {
                width: 170px;
            }
            @include media("lg") {
                img {
                    width: auto;
                }
            }                        
            margin-top: 40px;
            &_top {
                margin-right: 30px !important;
            }
            &_bottom {
                margin-right: 16px !important;
            }
        }
    }
    &__left {
        max-width: 593px;
    }
    @include media("lg") {
        h2 {
            @include font($font-size-4 !important,$font-weight-1 !important,$line-height-2 !important);
        } 
        h1 {
            @include font($font-size-1 !important,$font-weight-4 !important,$line-height-7 !important);
        } 
        p {
            @include font($base-font-size !important,$font-weight-1 !important,$line-height-3 !important);
        }                        
    }
    h2 {
        color: $text-orange;
        @include font($font-size-5,$font-weight-2,$line-height-2);
    }    
    h1 {
        color: $text-white;
        @include font($font-size-3,$font-weight-4,$line-height-5);
    }
    p {
        color: $text-white;
        @include font($base-font-size,$font-weight-1,$line-height-3);
        margin-bottom: 35px;
    }        
}