// Mixin - Font

@mixin font($font-size, $font-weight,$line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

// Mixin - Padding

@mixin padding($p-top, $p-right, $p-bottom, $p-left) {
    padding-top: $p-top;
    padding-right: $p-right;
    padding-bottom: $p-bottom;
    padding-left: $p-left;
}