
.menu {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background: $text-white;
    min-height: 55px;
    padding: 0 !important;
    z-index: 99999;
    box-shadow: 0 1px 20px rgb(0 0 0 / 5%);
        img {
            max-width: 115px !important;
        }

    @include media("lg") {
        min-height: 90px;
        padding: 16px 0px !important;
            img {
                max-width: 185px !important;
            }
    }
    &__list {
        li.nav-item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0px;
            }
        }        
    }
    .nav-link {
        @include font($base-font-size, $font-weight-1, $line-height-3);
        color: #000;
        &:hover,
        &:focus {
            color: #437FC2;
        }
    }
    &__mobile {
        div {
            display: flex;
            width: 25px;
            height: 3px;
            background-color: #402E77;
            margin: 5px;
            transition: all .5s ease-out;            
        }
        &--show {
            position: fixed;
            background: $blue-1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include padding(45px, 45px, 45px, 45px);
            h3 {
                @include font($font-size-3, $font-weight-1, $line-height-4);
                color: $text-white;
                margin-bottom: 60px;
            }
            .nav-link {
                @include font($font-size-4, $font-weight-2, $line-height-5);
                color: $text-white;
            }

        }
    }
}

// ===== Menu transition =====

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

// ===== END: Menu transition =====