
.menu {
    position: fixed !important;
    min-height: 90px;
    left: 0;
    right: 0;
    padding: 16px 0px !important;
    background: $text-white;
    z-index: 99999;
    &__list {
        li.nav-item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0px;
            }
        }        
    }
    .nav-link {
        @include font($base-font-size, $font-weight-1, $line-height-3);
        color: #000;
        &:hover,
        &:focus {
            color: #437FC2;
        }
    }
    &__mobile {
        div {
            display: flex;
            width: 25px;
            height: 3px;
            background-color: #402E77;
            margin: 5px;
            transition: all .5s ease-out;            
        }
    }
}