.team {
    background-color: $blue-3;
    @include padding(100px, 0px, 100px, 0px);
    &__headline {
        max-width: 455px;
        h3 {
            @include font($font-size-2, $font-weight-3, $line-height-7);
            color: $text-white;
            margin-bottom: 55px;
        }
    } 
    &__profile {
        background-color: #fff;
        border-radius: 10px;
        img {
            margin-bottom: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &--content {
            padding-bottom: 25px;
            h4 {
                @include font($font-size-3, $font-weight-2, $line-height-5);
                margin-bottom: 0
            }
            h5 {
                @include font($base-font-size, $font-weight-1, $line-height-4);
                color: #4F4F4F;
                margin-bottom: 0
            }
            span {
                @include font($base-font-size, $font-weight-1, $line-height-4);
                color: #4F4F4F;                
            }
        }
    }   
}

.slick-dots {
    bottom: 25px !important;
}

.slick-list {
    margin: 0 -16px !important;
}
  
.slick-slide > div {
    padding: 0 16px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    content: "" !important;  
    background: #F2994A;  
    border-radius: 21px !important;  
    width: 30px !important;
    margin-left: -10px !important;   
}

.slick-dots li button:before {
    background: $text-white;
    content: "" !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
}