.team {
    background-color: $blue-3;
    @include media("lg") {
        @include padding(100px, 0px, 100px, 0px);
    }    
    @include padding(80px, 0px, 120px, 0px);
    &__headline {
        max-width: 455px;
        @include media("lg") {
            h3 {
                @include font($font-size-2 !important, $font-weight-3 !important, $line-height-7 !important);
                margin-bottom: 55px !important;
            }            
        }
        h3 {
            @include font($font-size-3, $font-weight-3, $line-height-7);
            color: $text-white;
            margin-bottom: 20px;
        }        
    } 
    &__profile {
        background-color: #fff;
        border-radius: 10px;
        img {
            margin-bottom: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &--content {
            padding-bottom: 25px;
            h4 {
                @include font($font-size-6, $font-weight-2, $line-height-3);
                margin-bottom: 0;
            }
            h5 {
                @include font($font-size-7, $font-weight-1, $line-height-4);
                color: #4F4F4F;
                margin-bottom: 0;
            }
            span {
                @include font($font-size-8, $font-weight-1, $line-height-4);
                color: #4F4F4F;                
            } 
            @include media("lg") {
                h4 {
                    @include font($font-size-3, $font-weight-2, $line-height-5);
                    margin-bottom: 0;
                }
                h5 {
                    @include font($base-font-size, $font-weight-1, $line-height-4);
                    color: #4F4F4F;
                    margin-bottom: 0;
                }
                span {
                    @include font($base-font-size, $font-weight-1, $line-height-4);
                    color: #4F4F4F;                
                }                
            }                       
        }
    }   
}

// ===== Slider custom style ===== //

.slick-prev {
    left: 45% !important;
    top: 105% !important;
}

.slick-next {
    right: 45% !important;
    top: 105% !important;
}

@media (max-width:767px) {
    .slick-prev {
        left: 40% !important;
        top: 105% !important;
    }
    
    .slick-next {
        right: 40% !important;
        top: 105% !important;
    }    
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    color: #F2994A !important;
}

.slick-prev:before, .slick-next:before {
    opacity: 1 !important;
}

.slick-list {
    margin: 0 -10px !important;
}
  
.slick-slide > div {
    padding: 0 10px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    content: "" !important;  
    background: #F2994A;  
    border-radius: 21px !important;  
    width: 30px !important;
    margin-left: -10px !important;   
}

.slick-dots li button:before {
    background: $text-white;
    content: "" !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
}

// ===== END: Slider custom style ===== //