.testimonial {
    position: relative;
    background-color: $blue-1;
    @include padding(100px, 0px, 100px, 0px);
    &__headline {
        max-width: 434px;
        h3 {
            @include font($font-size-2, $font-weight-3, $line-height-7);
            color: $text-white;
        }
    } 
    &__slider {
        display: block !important;
        margin: 90px auto;
        background: #fff;
        padding: 24px;
        border-radius: 10px;
        p {
            margin-bottom: 0px;
            @include font($base-font-size, $font-weight-1, $line-height-2);
            color: #202020;
        }
    }
    &__content {
        margin-top: 40px;
        img {
            margin-right: 10px;
        }
        h4 {
            @include font($base-font-size, $font-weight-1, $line-height-1);
            color: #767676;
            margin-bottom: 0;
        }
        &--rating {
            color: #F9B50B;
            font-size: 15px;
        }
    }     
}

.slick-dots {
    bottom: 25px !important;
}

.slick-list {
    margin: 0 -16px !important;
}
  
.slick-slide > div {
    padding: 0 16px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    content: "" !important;  
    background: #F2994A;  
    border-radius: 21px !important;  
    width: 30px !important;
    margin-left: -10px !important;   
}

.slick-dots li button:before {
    background: $text-white;
    content: "" !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
}

