.testimonial {
    position: relative;
    background-color: $blue-1;
    @include padding(100px, 0px, 100px, 0px);
    &__headline {
        max-width: 434px;
        h3 {
            @include font($font-size-2, $font-weight-3, $line-height-7);
            color: $text-white;
        }
    } 
    &__slider {
        max-width: 367px;
        margin-top: 90px;
        background: #fff;
        padding: 24px;
        border-radius: 10px;
        p {
            margin-bottom: 0px;
            @include font($base-font-size, $font-weight-1, $line-height-2);
            color: #202020;
        }
    }
    &__content {
        margin-top: 40px;
        img {
            margin-right: 10px;
        }
        h4 {
            @include font($base-font-size, $font-weight-1, $line-height-1);
            color: #767676;
            margin-bottom: 0;
        }
        &--rating {
            color: #F9B50B;
        }
    }     
}

