.testimonial {
    position: relative;
    background-color: $blue-1;
    @include padding(100px, 0px, 100px, 0px);
    &__headline {
        max-width: 434px;
        h3 {
            @include font($font-size-2, $font-weight-3, $line-height-7);
            color: $text-white;
        }
    } 
    &__slider {
        margin-top: 90px;
    }     
}